body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 400px;
  min-height: 100vh;
  font-family: "Zain", serif;
  font-weight: 400;
  font-style: normal;
  background-image: linear-gradient(
    to top left,
    rgb(175, 224, 255),
    pink,
    rgb(255, 255, 68)
  );
}

h1 {
  font-size: 4.5em;
  line-height: 1.1;
  font-family: "Bungee", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 59);
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

p {
  font-size: 1.5em;
  font-family: inherit;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
